<md-content layout-padding layout="column" ng-cloak>
    <h2 class="md-title">Sprint Backlog 管理<span>
        <md-button class="md-fab md-mini md-primary" aria-label="添加工程">
            <md-icon md-svg-src="img/icons/ic_launch_white_48px.svg"></md-icon>
        </md-button>
    </span>当前项目:<span style="color: #560f94;">{{currentProject.name}}</span> </h2>

    <div layout="row" md-whiteframe="2">
        <div flex>
            <md-content >

                <md-list style="height: 25em;" >
                    <md-subheader class="md-no-sticky">当前的Product Backlog</md-subheader>

                    <md-list-item style="height: 4.3em;" ng-repeat="item in ProductBacklogs" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h4>{{ item.UserStory }}</h4>
                        </div>
                    </md-list-item>
                    <md-divider ></md-divider>
                </md-list>
            </md-content>

        </div>
        <div flex>
            <md-content>
                <md-button class="md-fab md-mini md-primary" ng-click="showAddSprintBacklogDialog()" aria-label="添加工程">
                    <md-icon md-svg-src="img/icons/ic_add_box_white_48px.svg"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-primary" aria-label="添加工程">
                    <md-icon md-svg-src="img/icons/ic_border_color_white_48px.svg"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="添加工程">
                    <md-icon  md-svg-src="img/icons/ic_delete_forever_white_48px.svg"></md-icon>
                </md-button>
            </md-content>
            <div flex>
                <md-content >

                    <md-list style="height: 25em;" >
                        <md-subheader class="md-no-sticky">对应的SprintBacklog</md-subheader>

                        <md-list-item style="height: 4.3em;" ng-repeat="item in SprintBacklogs" ng-click="null">
                            <md-checkbox role="checkbox"></md-checkbox>
                            <div class="md-list-item-text" layout="column">
                                <h4>{{ item.MissionTitle }}</h4>
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                    </md-list>
                </md-content>

            </div>
        </div>
    </div>
</md-content>
