<md-dialog aria-label="新建ProductBacklog"  ng-cloak>
    <form id="project" role="form" name="ProductBacklogForm" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>ProductBacklog</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <div layout="row">
                    <md-input-container>
                        <label>UserStory标题</label>
                        <input required ng-model="ProductBacklog.UserStoryTitle" type="text">
                    </md-input-container>
                    <md-input-container>
                        <label>UserStory权重</label>
                        <input required ng-model="ProductBacklog.Rank" type="number">
                    </md-input-container>
                </div>
                <div layout="row">
                    <div>
                        <md-datepicker required ng-model="ProductBacklog.Deadline" md-placeholder="最晚完成时间"></md-datepicker>
                    </div>

                </div>
                <div layout="column">
                    <md-input-container>
                        <label>UserStory详情</label>
                        <textarea ng-model="ProductBacklog.UserStory" required md-maxlength="300" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
            <!--More on Wikipedia-->
            <!--</md-button>-->
            <span flex></span>
            <md-button ng-disabled="ProductBacklogForm.$invalid" ng-click="answer(ProductBacklog)">
                确定
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>