<md-dialog aria-label="新建ProductBacklog"  ng-cloak>
    <form id="project" role="form" name="ProductBacklog" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>SprintBacklog</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <h3>UserStory相关信息</h3>
                <div layout="row">
                    <div style="margin-right: 30pt;width: 15em;">
                        <label>UserStory标题</label>
                        <div >UserStory1标题标题标题标题标题标题标题标题标题</div>
                    </div>
                    <div style="margin-right: 30pt; ">
                        <label>UserStory最晚完成时间</label>

                        <div>2016-05-12</div>
                    </div>
                </div>

                <h3>待创建任务相关信息</h3>
                <div layout="row">

                    <md-input-container>
                        <label>任务标题</label>
                        <input required ng-model="Mission.Title" type="text">
                    </md-input-container>
                    <md-input-container>
                        <label>任务预估点数</label>
                        <input required ng-model="Mission.Point" type="number">
                    </md-input-container>
                </div>
                <div layout="row">

                </div>
                <div layout="column">
                    <md-input-container>
                        <label>任务详情</label>
                        <textarea ng-model="ProductBacklog.UserStory" required md-maxlength="300" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
            <!--More on Wikipedia-->
            <!--</md-button>-->
            <span flex></span>
            <md-button ng-disabled="ProductBacklog.$invalid" ng-click="answer('not useful')">
                确定
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>