<md-dialog aria-label="Team"  ng-cloak>
    <form id="project" role="form" name="TeamForm" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>SprintBacklog</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>团队相关信息</h3>
                <div layout="row">

                    <md-input-container>
                        <label>团队名称</label>
                        <input required ng-model="Team.Name" type="text">
                    </md-input-container>
                </div>
                <div layout="row">

                </div>
                <div layout="column">
                    <md-input-container>
                        <label>团队描述</label>
                        <textarea ng-model="Team.Description" required md-maxlength="300" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
            <!--More on Wikipedia-->
            <!--</md-button>-->
            <span flex></span>
            <md-button ng-disabled="TeamForm.$invalid" ng-click="answer(Team)">
                确定
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>